# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = n0mn0m
	email = alexander@unexpectedeof.net
	signingkey = EB589747BCEE2FD1
[commit]
	gpgSign = true
[diff]
	submodule = log
