# This is Git's per-user configuration file.
[user]
	name = Alexander Hagerman
	email = alexander.hagerman@samtec.com
[diff]
	submodule = log
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	editor = vim
[init]
	defaultBranch = main
[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
	graph = log --graph --decorate --abbrev-commit --pretty=oneline
	grapha = log --graph --decorate --abbrev-commit --pretty=oneline --all

