[user]
  name = n0mn0m
  email = n0mn0m@burningdaylight.io
  signingkey = EB589747BCEE2FD1

[color]
  ui = auto

[diff]
  submodule = log

[core]
  autocrlf = input
  excludesFile = ~/.gitignore
  editor = vim

[init]
  defaultBranch = main
